<!DOCTYPE html>
@model FSE.Assignment20.MVC.Core.UserTweet
@{
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Clone</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    @Html.HiddenFor(m => m.User.Username)
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Twitter Clone", "Index", "Tweet", new { id = Model.User.Username }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navbar-right">
                <ul class="nav navbar-nav">
                    <li class="nav navbar-text navbar-inverse">Welcome @Model.User.FullName </li>
                    <li><a href="#">Home</a></li>
                    <li class="nav navbar-text">|</li>
                    <li><a href="#">Profile</a></li>
                    <li class="nav navbar-text">|</li>
                    <li><a href="#">Signout</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <div class="container">
                    <label>Tweet</label>
                    <label>Following</label>
                    <label>Follower</label>
                </div>
            </div>
            <div class="col-sm-9 col-md-10">
                @{
                    Html.RenderPartial("Tweet", Model.CurrentTweet);
                }
                @foreach (var tweet in Model.Tweets)
                {
                    Html.RenderPartial("_Tweet", tweet);
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
